VITE_SUPABASE_URL=https://gvgmrznvxskpfkxmsiih.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mRlc7JN6ewTTyvMH84-K6A_ZaB7a9GB
VITE_API_URL=http://localhost:5000/api
VITE_MAIN_ADMIN_EMAIL=gama.orgas.up@phinmaed.com
